body {
    margin: 0;
    padding: 0;
    background: #FDCCE0;
}

.header {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url("../assets/background.png"); /* The image used */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.rec {
    margin: 50px;
    width:1318px;
    max-height:657px;
    height:100%;
    resize: both;
    background-image: url("../assets/rec.svg"); /* The image used */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    /*background-size: cover; !* Resize the background image to cover the entire container *!*/
    background-size: contain;

    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;

    display: flex;
    align-items: center;
    flex-direction: column;

    position: relative;
}

.container {
    width: 200px; /* Adjust width as needed */
    height: 200px; /* Adjust height as needed */
    background-color: #3498db; /* Adjust background color as needed */
    border-radius: 20px; /* Adjust border radius as needed */
    position: relative;
}


.btn1 {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    padding: 2px 30px;
    color: #FFFDF4;
    background: #B65E5E;
    border-radius: 60px;
    position: absolute;
    bottom: -35px;
}

.text2 {
    font-weight: bold;
    font-size: 150px;
    color: #FFFDF4;

    /* Width and color values */
    -webkit-text-stroke: 0.5px #B65E5E;
    text-stroke: 1px #B65E5E;
}

.text4 {
    font-weight: bold;
    font-size: 250px;
    color: #FFFDF4;

    /* Width and color values */
    -webkit-text-stroke: 0.5px #B65E5E;
    text-stroke: 1px #B65E5E;
}

.text3 {
    font-weight: bold;
    font-size: 96px;
    color: #B65E5E;
}