body {
    margin: 0;
    padding: 0;
    background: #FDCCE0;
}

.header {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url("../assets/background.png"); /* The image used */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.rec {
    margin: 50px;
    /*background-image: url("../assets/rec.svg"); !* The image used *!*/
    /*background-position: center; !* Center the image *!*/
    /*background-repeat: no-repeat; !* Do not repeat the image *!*/
    /*background-size: cover; !* Resize the background image to cover the entire container *!*/
    /*background-size: contain;*/

    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;

    display: flex;
    align-items: center;
    flex-direction: column;

    position: relative;
}

.rec-img {
    width: 100%;
}

.rec-img2 {
    display: none;
    width: 100%;
}

.container {
    width: 200px; /* Adjust width as needed */
    height: 200px; /* Adjust height as needed */
    background-color: #3498db; /* Adjust background color as needed */
    border-radius: 20px; /* Adjust border radius as needed */
    position: relative;
}


.btn1 {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    padding: 2px 70px;
    color: #FFFDF4;
    background: #B65E5E;
    border-radius: 60px;
    position: absolute;
    bottom: -30px;
}

.text2 {
    font-weight: bold;
    font-size: 150px;
    color: #FFFDF4;

    /* Width and color values */
    -webkit-text-stroke: 0.5px #B65E5E;
    text-stroke: 1px #B65E5E;
}

.text4 {
    font-weight: bold;
    font-size: 250px;
    color: #FFFDF4;

    /* Width and color values */
    -webkit-text-stroke: 0.5px #B65E5E;
    text-stroke: 1px #B65E5E;
}

.text3 {
    font-weight: bold;
    font-size: 96px;
    color: #B65E5E;
}

.second {
    min-height: 88vh;
}

.cnt {
    max-width: 1000px;
    margin: auto;
    padding: 5vh 20px;
    overflow: hidden;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.photo {
    overflow: hidden;
}

.photo img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    color: black;
    background-color: #B3B3B3;
}

.text-wrapper {
    font-family: "Pacifico", cursive;
    max-width: 600px;
}

.title {
    margin: 0;
    font-size: 36px;
}

.white-title {
    margin: 0;
    font-size: 36px;
    color: #FFFDF4;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #B65E5E;
}

.text {
    font-size: 28px;
}

.form-container {
    height: fit-content;
    font-family: "Pacifico", cursive;
}

.align-items-center {
    align-items: center;
}

.form-container input {
    margin: 0;
    height: 50px;
    width: 400px;
    border: #B65E5E solid 3px;
    border-radius: 66px;
    filter: drop-shadow(0 4px 4 rgba(0, 0, 0, 0.5));
    padding: 0 20px;
    font-size:24px;
    font-family: inherit;
}

@media only screen and (max-width: 550px) {
    .rec {
        width: 100%;
    }
    .rec-img {
        display: none;
    }
    .rec-img2 {
        display: block;
    }

    .row {
        flex-direction: column;
        align-items: center;
    }
    .title {
        text-align: center;
    }
}

@media only screen and (max-width: 800px) {
    .btn1 {
        font-size: 25px;
    }
}