body {
    margin: 0;
    padding: 0;
    background: #FDCCE0;
}

.header {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url("../assets/background.png"); /* The image used */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.rec {

    width:50%;
    height:50%;
    display: block;
    resize: both;
    background-image: url("../assets/rec.svg"); /* The image used */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    /*background-size: cover; !* Resize the background image to cover the entire container *!*/
    background-size: contain;
}

.container {
    width: 200px; /* Adjust width as needed */
    height: 200px; /* Adjust height as needed */
    background-color: #3498db; /* Adjust background color as needed */
    border-radius: 20px; /* Adjust border radius as needed */
    position: relative;
}

.box {
    display:inline-block;
    width:1300px;
    height:657px;
    aspect-ratio:1.5;
    background: #FFFDF4;
    border: 1px solid #B65E5E;
}
.mask {
    -webkit-mask:
            radial-gradient(circle 130px at 0%    0% ,#0000 100%,#000) top    left,
            radial-gradient(circle 130px at 100%    0%,#0000 98%,#000) top    right,
            radial-gradient(circle 130px at 0% 100% ,#0000 98%,#000) bottom left,
            radial-gradient(circle 130px at 100% 100%,#0000 98%,#000) bottom right;
    -webkit-mask-size:51% 51%;
    -webkit-mask-repeat:no-repeat;
    border: 1px solid #B65E5E;
}